/* @font-face kit by Fonts2u (http://www.fonts2u.com) */ 
/*
@font-face {font-family:"Kalam";src:url("Kalam-Regular.eot?") format("eot"),url("Kalam-Regular.woff") format("woff"),url("Kalam-Regular.ttf") format("truetype"),url("Kalam-Regular.svg#Kalam-Regular") format("svg");font-weight:normal;font-style:normal;}
*/


@font-face {
  font-family:"Kalam";
  src:url("Kalam-Regular.eot?") format("eot"),
  url("Kalam-Regular.woff") format("woff"),
  url("Kalam-Regular.ttf") format("truetype"),
  url("Kalam-Regular.svg#Kalam-Regular") format("svg");
  font-weight:normal;font-style:normal;

}

@font-face {
  font-family:"Kalam";
  src:url("Kalam-Bold.eot?") format("eot"),
  url("Kalam-Bold.woff") format("woff"),
  url("Kalam-Bold.ttf") format("truetype"),
  url("Kalam-Bold.svg#Kalam-Regular") format("svg");
  font-weight:bold;
  font-style:bold;

}


@media screen and (-webkit-min-device-pixel-ratio:0) {
    
    @font-face {
        
        font-family:"Kalam";
    src:url("Kalam-Regular.svg#Kalam-Regular") format("svg");
    font-weight:normal;font-style:normal;
        
    }
    
    @font-face {
        
        font-family:"Kalam";
    src: url("Kalam-Bold.svg#Kalam-Regular") format("svg");
    font-weight:bold;
    font-style:bold;
        
    }
    
}

