/*---------------------------------------------------
    LESS Elements 0.9
  ---------------------------------------------------
    A set of useful LESS mixins
    More info at: http://lesselements.com
  ---------------------------------------------------*/
/*============================================================================
   UTILITY CLASSES
 ==============================================================================*/
.wp-notes-cf {
  zoom: 1;
}
.wp-notes-cf .wp-notes-cf:before,
.wp-notes-cf:after {
  content: "";
  display: table;
}
.wp-notes-cf:after {
  clear: both;
}
/*============================================================================
  NOTES POST PAGE
==============================================================================*/
.wp-notes-post-admin-container .wp-notes-margin-bottom {
  margin-bottom: 20px;
}
.wp-notes-post-admin-container .wp-notes-no-margin-bottom {
  margin-bottom: 0px !important;
}
.wp-notes-post-admin-container .over-limit {
  color: red !important;
}
.wp-notes-post-admin-container .wp-notes-label {
  display: block;
  font-weight: bold;
}
.wp-notes-post-admin-container .wp-notes-textarea {
  height: 130px;
  max-width: 300px;
  width: 100%;
}
.wp-notes-post-admin-container .wp-notes-hidden {
  position: absolute;
  left: -9999px;
}
.wp-notes-post-admin-container .faded {
  color: #555;
}
.wp-notes-post-admin-container input#WP_Notes_action_link {
  width: 100%;
  display: block;
  margin-bottom: 5px;
}
.wp-notes-post-admin-container .full-width {
  width: 100%;
}
.wp-notes-post-admin-container #WP_Notes_image {
  max-width: 300px;
}
.wp-notes-post-admin-container h4 {
  font-size: 1.0em;
  font-weight: bold;
  padding: 5px 10px 5px;
  border: 1px solid #eee;
  border-bottom: none;
  margin-bottom: 0;
  background-color: #f5f5f5;
  border-radius: 3px 3px 0 0;
}
.wp-notes-post-admin-container .content-segment {
  margin-bottom: 10px;
  border: 1px solid #eee;
  padding: 10px;
}
.wp-notes-post-admin-container .content-segment:last-child {
  margin-bottom: 0;
}
.wp-notes-post-admin-container .wp-notes-image-container {
  padding-top: 10px;
}
.wp-notes-post-admin-container .wp-notes-image-container .no-image-box {
  width: 100%;
  max-width: 200px;
  background-color: #eee;
  border: 1px solid #ddd;
  display: inline-block;
  box-sizing: border-box;
}
.wp-notes-post-admin-container .wp-notes-image-container .no-image-box .no-image-shim {
  display: inline-block;
  vertical-align: middle;
  height: 100px;
  width: 0;
}
.wp-notes-post-admin-container .wp-notes-image-container .no-image-box div.text {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  width: 98%;
  margin: 0;
}
.wp-notes-post-admin-container p {
  margin-top: 0;
}
.wp-notes-post-admin-container .secondary-text {
  color: #888;
}
.wp-notes-post-admin-container .no-margin-below {
  margin-bottom: 0;
}
.wp-notes-post-admin-container .wp-notes-action-link-controls {
  zoom: 1;
}
.wp-notes-cf .wp-notes-post-admin-container .wp-notes-action-link-controls:before,
.wp-notes-post-admin-container .wp-notes-action-link-controls:after {
  content: "";
  display: table;
}
.wp-notes-post-admin-container .wp-notes-action-link-controls:after {
  clear: both;
}
.wp-notes-post-admin-container .wp-notes-action-link-controls .wp-notes-action-link-control {
  float: left;
  padding: 5px 8px;
  transition: background-color 0.2s ease-in;
}
.wp-notes-post-admin-container .wp-notes-action-link-controls .wp-notes-action-link-control:first-child {
  margin-left: 0;
}
.wp-notes-post-admin-container .wp-notes-action-link-controls .wp-notes-action-link-control.checked {
  background-color: #eee;
}
.wp-notes-post-admin-container .wp-notes-action-link-controls .wp-notes-action-link-control input {
  position: relative;
  top: 2px;
}
.wp-notes-post-admin-container .wp-notes-link-component-container {
  background-color: #eee;
  padding: 5px;
}
.wp-notes-post-admin-container .wp-notes-download-components {
  zoom: 1;
}
.wp-notes-cf .wp-notes-post-admin-container .wp-notes-download-components:before,
.wp-notes-post-admin-container .wp-notes-download-components:after {
  content: "";
  display: table;
}
.wp-notes-post-admin-container .wp-notes-download-components:after {
  clear: both;
}
.wp-notes-post-admin-container .wp-notes-download-components > a#wp-notes-add-download {
  float: left;
  width: 20%;
  box-sizing: border-box;
  border-radius: 3px 0 0 3px;
  height: 30px;
  display: block;
  text-align: center;
}
.wp-notes-post-admin-container .wp-notes-download-components > input#WP_Notes_download_link {
  float: left;
  width: 80%;
  box-sizing: border-box;
  margin: 0;
  height: 30px;
  display: block;
  color: #777;
}
.wp-notes-post-admin-container .wp-notes-plain-link-components input#WP_Notes_plain_link_new_tab {
  position: relative;
  left: 2px;
}
.wp-notes-post-admin-container #WP_Notes_twitter_chars_remaining {
  font-weight: bold;
}
.wp-notes-post-admin-container #WP_Notes_twitter_over_limit_text {
  display: block;
  color: red;
}
/*============================================================================
  WIDGET ADMINISTRATION PAGE
==============================================================================*/
.wp-notes-widget-admin-container {
  border-bottom: 1px solid #ddd;
  margin-bottom: 10px;
  zoom: 1;
}
.wp-notes-cf .wp-notes-widget-admin-container:before,
.wp-notes-widget-admin-container:after {
  content: "";
  display: table;
}
.wp-notes-widget-admin-container:after {
  clear: both;
}
.wp-notes-widget-admin-container .wp-notes-widget-admin-left {
  float: left;
  width: 50%;
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.wp-notes-widget-admin-container .wp-notes-widget-admin-right {
  float: right;
  padding-left: 20px;
  width: 50%;
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.wp-notes-widget-admin-container select {
  display: block;
}
/*============================================================================
  SETTINGS PAGE
==============================================================================*/
input.wp-notes-widget-long {
  max-width: 500px;
  width: 100%;
}
.wp-notes-widget-limit-width {
  max-width: 600px;
}
